<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>ToDo List</title>
  </head>

  <body>
    <form action="/add" method="POST" style="display: inline">
      <input type="text" name="todo" placeholder="Add a new task" required />
      <button type="submit">Add</button>
    </form>
    <ul>
      <% todos.forEach((todo, index) => { %>
      <li>
        <%= todo %>
        <form action="/delete" method="POST" style="display: inline">
          <input type="hidden" name="index" value="<%= index %>" />
          <button type="submit">Delete</button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
